# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# other stuff
.directory

autom4te.cache

tests/RdRand
tests/rdrand-gen
rdrand-gen
config.log
src/.deps/
src/.dirstamp
*.swp
